@model Student_Section_ManagementSystemProject.Models.Student

@{
    ViewData["Title"] = "Add Student";
}

<h2>Add Student</h2>

<div class="form-container">
    <form method="post" asp-action="Create">
        <div class="form-group">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" required />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Email"></label>
            <input asp-for="Email" class="form-control" required />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <button type="submit" class="save-button">Save</button>
    </form>
</div>

@if (TempData["StudentErrorMessage"] != null)
{
    <div class="alert alert-danger" id="errorMessage">
        @TempData["StudentErrorMessage"]
    </div>
}

<script>
    setTimeout(function () {
        let errorBox = document.getElementById('errorMessage');

        if (errorBox) {
            errorBox.style.display = 'none';
        }
    }, 4000); // Hides after 2 seconds
</script>


<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        margin: 5px;
        padding: 20px;
    }

    h2 {
        color: #333;
        text-align: center;
        margin-top: 50px;
        margin-bottom: 30px;
    }

    .form-container {
        background: white;
        padding: 20px;
        width: 350px;
        margin: 0 auto;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .form-group {
        margin-bottom: 15px;
    }

        .form-group label {
            display: block;
            font-weight: bold;
            margin-bottom: 5px;
        }

        .form-group input {
            width: 100%;
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

    .text-danger {
        color: red;
        font-size: 14px;
    }

    .save-button {
        width: 100%;
        background-color: skyblue;
        color: black;
        padding: 8px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
    }

        .save-button:hover {
            background-color: steelblue;
            color: white;
        }

    .alert {
        padding: 5px;
        background-color: #4CAF50;
        color: white;
        text-align: center;
        border-radius: 5px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .alert-success {
        background-color: #28a745;
    }
</style>