@model IEnumerable<Student_Section_ManagementSystemProject.Models.Student>
<h2>Student List</h2>
<a href="/Students/Create">Add New Student</a>
<table border="1">
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Actions</th>
    </tr>
    @foreach (var student in Model)
    {
        <tr>
            <td>@student.Name</td>
            <td>@student.Email</td>
            <td>
                <a href="/Students/Edit/@student.Id">Edit</a> |
                <a href="/Students/Delete/@student.Id">Delete</a>
            </td>
        </tr>
    }
</table>